<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        html,body{
            width:100%;height:100%;
        }
        body{
            padding:0;margin:0;
            overflow: hidden;
        }
        header{
            width:100%;height:20%;
            border-bottom: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;

        }
        .box{
            width:100%;height:80%;
        }
        .box .left{
            float:left;
            width:20%;height:100%;
            border-right:2px solid #000;
            box-sizing: border-box;
        }
        .box .right{
            float:left;
            width:80%;height:100%;
        }
        iframe{
            width:100%;height:100%;
        }
    </style>
</head>
<body>

<header>
    欢迎 <%=aname%>来到新闻管理系统

    <span>
<a href="login/logout">安全退出</a>
    </span>
    <span>
    <a href="index.php" target="_blank">主页</a>
    </span>
</header>
<div class="box">
    <div class="left">
        <ul>

            <li>
                <a href="javascript:;">用户管理</a>

                <ul>
                    <li>
                        <a href="/admin/adminAdd" target="iframe">添加用户</a>
                    </li>

                    <li>
                        <a href="showCategory.php" target="iframe">查看用户</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">考试方向管理</a>
                <ul>
                    <li>
                        <a href="/fangxiang/fangxiangAdd" target="iframe">添加方向</a>
                    </li>

                    <li>
                        <a href="/fangxiang/fangxiangShow" target="iframe">查看方向</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">阶段管理</a>
                <ul>
                    <li>
                        <a href="/jieduan/jieduanAdd" target="iframe">添加阶段</a>
                    </li>

                    <li>
                        <a href="index.php?m=admin&f=member&a=show" target="iframe">查看会员</a>
                    </li>
                </ul>
            </li>



            <li>
                <a href="javascript:;">班级管理</a>
                <ul>
                    <li>
                        <a href="/classes/classesAdd" target="iframe">添加班级</a>
                    </li>

                    <li>
                        <a href="showPos.php" target="iframe">查看位置</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">题型管理</a>
                <ul>
                    <li>
                        <a href="/type/typeAdd" target="iframe">添加题型</a>
                    </li>

                    <li>
                        <a href="index.php?m=admin&f=lists&a=add" target="iframe">查看内容</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">考题</a>
                <ul>
                    <li>
                        <a href="/test/testAdd" target="iframe">添加考题</a>
                    </li>

                    <li>
                        <a href="showPos.php" target="iframe">查看位置</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">考生管理</a>
                <ul>
                    <li>
                        <a href="/stu/stuAdd" target="iframe">添加考生</a>
                    </li>

                    <li>
                        <a href="showPos.php" target="iframe">查看考生</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">教师管理</a>
                <ul>
                    <li>
                        <a href="/teach/teachAdd" target="iframe">添加教师</a>
                    </li>

                    <li>
                        <a href="showPos.php" target="iframe">查看考生</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="right">
        <iframe  frameborder="0" name="iframe">

        </iframe>
    </div>
</div>

</body>
</html>