<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <table>
      <tr>
          <th>id</th>
          <th>名称</th>
          <th>操作</th>
      </tr>
      <% for(var i=0;i<result.length;i++){%>
      <tr>
          <td>
              <%=result[i].id%>
          </td>
          <td>
              <%=result[i].name%>
          </td>
          <td>
              <a href="/fangxiang/edit/<%=result[i].id%>">编辑</a>
              <a href="/fangxiang/del/<%=result[i].id%>">删除</a>
          </td>
      </tr>
      <%}%>
      
  </table>
</body>
</html>